﻿@model ComonModel.ClsAlldropdownData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/g.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <title>Paper Bootstrap Wizard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS Files -->
    @*<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/paper-bootstrap-wizard.css" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="assets/css/demo.css" rel="stylesheet" />
        <!-- Fonts and Icons -->

        <link href="assets/css/themify-icons.css" rel="stylesheet">*@

    @Styles.Render("/assets/css/bootstrap.min.css")
    @Styles.Render("/assets/css/paper-bootstrap-wizard.css")
    @Styles.Render("/assets/css/demo.css")
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("/assets/css/themify-icons.css")


    @Scripts.Render("/assets/js/jquery-2.2.4.min.js")
    @Scripts.Render("/assets/js/bootstrap.min.js")
    @Scripts.Render("/assets/js/jquery.bootstrap.wizard.js")
    @Scripts.Render("/assets/js/paper-bootstrap-wizard.js")
    @Scripts.Render("/assets/js/jquery.validate.min.js")


    <script type="text/javascript">

       


        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:3186/API/ProductApi/GetAllProducts',
                dataType: "json",
                method: 'GET',
                success: function (data) {
                    var employeeTable = $('#tblEmployee tbody');
                    employeeTable.empty();
                    $(data).each(function (index, emp) {
                        employeeTable.append('<tr><td>' + emp.Id + '</td><td>'
                            + emp.Name + '</td><td>' + emp.Category + '</td><td>' + emp.price
                            + '</td><td>');
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });
        });
    </script>  



</head>
<body>
    <div class="image-container set-full-height" style="background-image: url('/assets/img/paper-2.jpeg')">
        <!--   Creative Tim Branding   -->
        <a href="http://creative-tim.com">
            <div class="logo-container">
                <div class="logo">
                    <img src="/assets/img/new_logo.png">
                </div>
                <div class="brand">
                    Profile Creation
                </div>
            </div>
        </a>

        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizard">
                            <form action="" method="">
                                <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->
                                <div class="wizard-header">
                                    <h3 class="wizard-title">Create your profile</h3>
                                </div>
                                <div class="wizard-navigation">
                                    <div class="progress-with-circle">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="8" style="width: 15%;"></div>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#PersonalInfo" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-map"></i>
                                                </div>
                                                Personal Info
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Education" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-direction-alt"></i>
                                                </div>
                                                Education
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Training" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-panel"></i>
                                                </div>
                                                Training
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Certification" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Certification
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Employment
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Project Experience
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Photo & Others
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Preview
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="PersonalInfo">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group">
                                                        <label for="salutation">Salutation/Title </label>
                                                        <select id="ddlSalutation" name="ddlSalutation" class="form-control">
                                                            <option value="">--Slect--</option>
                                                            <option value="1">option 1</option>
                                                            <option value="2">option 2</option>
                                                            <option value="3">option 3</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label for="empid">Employee Id <span style="color:red">*</span></label><br>
                                                        <input type="text" id="txtEmpId2" name="txtEmpId2" maxlength="20" class="form-control" placeholder="Write employee id here">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group">
                                                        <label for="firstname">First Name <span style="color:red">*</span></label>
                                                        <input type="text" id="txtFirstName2" name="txtFirstName2" maxlength="50" class="form-control" placeholder="Write first name here">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label for="designation">Designation <span style="color:red">*</span></label>

                                                        <select name="ddlDesignation" id="ddlDesignation"  class="form-control">
                                                            <option value="">--Slect--</option>
                                                            <option value="1">option 1</option>
                                                            <option value="2">option 2</option>
                                                            <option value="3">option 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group">
                                                        <label for="lastname">Last Name <span style="color:red">*</span></label>
                                                        <input type="text" id="txtLastName2" name="txtLastName2" class="form-control" placeholder="Write last name here">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label for="department">Department <span style="color:red">*</span></label>

                                                        <select id="ddlDepartment" name="ddlDepartment"  class="form-control">
                                                            <option value="">--Slect--</option>
                                                            <option value="1">option 1</option>
                                                            <option value="2">option 2</option>
                                                            <option value="3">option 3</option>
                                                        </select>


                                                    </div>
                                                </div>
                                            </div>
                                           

                                            

                                        </div>

                                    </div>
                                    <div class="tab-pane" id="Education">
                                        <br />
                                        <div class="row">

                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Name Of Degree <span style="color:red">*</span></label><br>
                                                    <select id="ddlDegreeName" name="ddlDegreeName" required class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Result Type<span style="color:red">*</span></label><br>
                                                    <select id="ddlResultType" name="ddlResultType" required class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Subject/Group/Major <span style="color:red">*</span></label><br>
                                                    <select id="ddlSubject" name="ddlSubject" required class="form-control">
                                                        <option value="">- select -</option>
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label> GPA/CGPA <span style="color:red">*</span></label>
                                                    <input name="txtCgpa" id="txtCgpa" type="text" class="form-control" placeholder="select...">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label> Out Of  <span style="color:red">*</span></label>
                                                    <input name="txtOutof" id="txtOutof" type="text" class="form-control" placeholder="select...">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Institute Name </label>
                                                    <input name="txtInstituteName" id="txtInstituteName" type="text" class="form-control" placeholder="select...">
                                                </div>
                                                <div class="form-group">
                                                    <label>Board/University <span style="color:red">*</span></label><br>
                                                    <select name="ddlBoardOrInstitute" id="ddlBoardOrInstitute" required class="form-control">
                                                        <option value="">- select -</option>
                                                        <option value="...">...</option>
                                                    </select>

                                                </div>
                                                <div class="form-group">
                                                    <label>Actual Passing Year <span style="color:red">*</span></label>
                                                    <input name="txtActualPassingYear" id="txtActualPassingYear" type="text" class="form-control" placeholder="select...">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Class/Division</label><br>
                                                    <select name="ddlClassOrDivision" id="ddlClassOrDivision" class="form-control">
                                                        <option selected="">- select -</option>
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2.5">
                                                    <div class="form-group">
                                                        <label> Session </label>
                                                        <input name="txtSession" id="txtSession" type="text" class="form-control" placeholder="select...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-sm-offset-4">
                                                <div class="form-group">
                                                    <input type='button' class='btn  btn-fill btn-success btn-wd' name='btnAddNew' id="btnAddNew" value='Add New' />
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pull-left">
                                                <div class="form-group">
                                                    <input type='button' class='btn  btn-fill btn-success btn-wd' name='btnClear' id="btnClear" value='Clear' />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Education Level Name</th>
                                                                <th>Subject/Group</th>
                                                                <th>Institute Name</th>
                                                                <th>Board/University</th>
                                                                <th>Result</th>
                                                                <th> </th>
                                                                <th> </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a></td>
                                                                <td><a>Delete</a> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Training">
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-5 col-sm-offset-3">
                                                <div>
                                                    <input type="radio" name="rdbTrainingType" id="rdbTrainingType" value="local" checked> <strong>Local training</strong><br>

                                                </div>
                                            </div>
                                            <div class="col-sm-pull-5">
                                                <div>
                                                    <input type="radio" name="rdbTrainingType" id="rdbTrainingType" value="foreign"> <strong>Foreign training</strong><br>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="col-sm-5 col-sm-offset-1">

                                                <div class="form-group">
                                                    <label for="trainingtitle">Training title<span style="color:red">*</span></label>
                                                    <input type="text" class="form-control" id="txtTrainingTitle" name="txtTrainingTitle" placeholder="Write title here">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="startdate">Training Start Date</label><br>
                                                    <input type="date" class="form-control" name="txtTrainingStartDate" id="txtTrainingStartDate" />
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="trainingdetails">Training Details/OEM<span style="color:red">*</span></label>
                                                    <input type="text" id="txtTrainingDetails" name="txtTrainingDetails" class="form-control" placeholder="Write training details here">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="enddate">Training End Date</label>

                                                    <input type="date" id="txtTrainingEndDate" name="txtTrainingEndDate" class="form-control" placeholder="dd/mm/yyyy">


                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="institutename">Institute Name/OEM<span style="color:red">*</span></label>
                                                    <input id="txtInstituteName" name="txtInstituteName" type="text" class="form-control" placeholder="Write institute name here">
                                                </div>
                                                <div class="form-group">

                                                    <label for="country">Country<span style="color:red">*</span></label><br>
                                                    <select id="ddlCountry" name="ddlCountry" required class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="duration">Duration(Hours/Days)<span style="color:red">*</span></label>
                                                    <input name="txtDuration" id="txtDuration" type="text" class="form-control" placeholder="insert time here">
                                                </div>
                                                <div class="form-group">
                                                    <label for="location">location</label>
                                                    <input name="txtLocation" id="txtLocation" type="text" class="form-control" placeholder="insert location here">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <fieldset style="border:1px; border-color:#808080">
                                                <legend><p class="text-center">Bonding Information</p></legend>
                                                <div class="col-sm-10 col-sm-offset-1">
                                                    <label for="inlineCheckBox3" class="checkbox-inline">
                                                        <input type="checkbox" id="chbBondingInformation" name="chbBondingInformation" value="1"> Legal bond with employee?
                                                    </label>
                                                </div>
                                                <br />
                                                <div class="col-sm-10 col-sm-offset-1">
                                                    <div class="form-group">
                                                        <label for="bondfor">Bond For<span style="color:red">*</span></label>
                                                        <input type="text" id="txtBondFor" name="txtBondFor" class="form-control" placeholder="Write bond information here">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group">
                                                        <label for="effectivedate">Effective Date<span style="color:red">*</span></label>
                                                        <input type="date" id="txtEffectiveDate" name="txtEffectiveDate" class="form-control" placeholder="dd/mm/yyyy">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <label for="enddate">End Date<span style="color:red">*</span></label>
                                                    <input type="date" id="txtEndDateOfBond" name="txtEndDateOfBond" class="form-control" placeholder="dd/mm/yyyy">
                                                </div>
                                                <div class="clearfix"></div>
                                            </fieldset>
                                            <div class="col-sm-offset-3 col-sm-5 ">
                                                <input type='button' class='btn btn-fill btn-primary btn-wd' name='btnAddNew' id="btnAddNew" value='Add New' />
                                            </div>
                                            <div class="col-sm-pull-5">
                                                <input type='reset' class='btn btn-fill btn-primary btn-wd' name='btnClear' id="btnClear" value='Clear' />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Training title</th>
                                                                <th>Topics covered</th>
                                                                <th>Institute name</th>
                                                                <th>Country</th>
                                                                <th>Duration</th>
                                                                <th> </th>
                                                                <th> </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="Certification">
                                        <div class="row">

                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="certname">Certification Name <span style="color:red">*</span></label>
                                                    <input type="text" for="certname" class="form-control" id="certname" placeholder="Write certification Name here">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="country">Country/Location</label><br>
                                                    <select id="country" name="country" class="form-control">
                                                        <option disabled="" selected="">- country -</option>
                                                        <option value="Albania"> Albania </option>
                                                        <option value="Albania"> Bangladesh </option>
                                                        <option value="Algeria"> Algeria </option>
                                                        <option value="American Samoa"> American Samoa </option>
                                                        <option value="Andorra"> Andorra </option>
                                                        <option value="Angola"> Angola </option>
                                                        <option value="Anguilla"> Anguilla </option>
                                                        <option value="Antarctica"> Antarctica </option>
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="examdetails">Exam Details<span style="color:red">*</span></label>
                                                    <input type="text" id="examdetails" class="form-control" placeholder="Write exam details here">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="obtain">Obtained Date<span style="color:red">*</span></label>

                                                    <input type="date" id="obtain" class="form-control" placeholder="dd/mm/yyyy">


                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="certauth">Certification Authority/OEM<span style="color:red">*</span></label>
                                                    <input id="certauth" type="text" class="form-control" placeholder="Write authority name here...">
                                                </div>
                                                <div class="form-group">
                                                    <label for="certtype">Certification Type <span style="color:red">*</span></label>
                                                    <select id="certtype" name="certtype" class="form-control">
                                                        <option disabled="" selected="">- Certification Type -</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="expiry">Expiry Date</label>
                                                    <input name="expiry" id="expiry" type="date" class="form-control" placeholder="dd/mm/yyyy">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-offset-3 col-sm-5 ">
                                                <input type='button' class='btn btn-fill btn-primary btn-wd' name='AddNew' value='Add New' />
                                            </div>
                                            <div class="col-sm-pull-5">
                                                <input type='reset' class='btn btn-fill btn-primary btn-wd' name='Clear' value='Clear' />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Certification Name</th>
                                                                <th>Exam Details</th>
                                                                <th>Authority</th>
                                                                <th>Country/Location</th>
                                                                <th>Obtained Date</th>
                                                                <th> </th>
                                                                <th> </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next'  id='next' value='Next' />
                                        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div> <!-- row -->
        </div> <!--  big container -->
        <div class="footer">
            <div class="container text-center">
                Copyright by dataedge  <i class="fa fa-heart heart"></i>  <a href="http://www.data-edge.com"</a>
            </div>
        </div>
    </div>
</body>
<!--   Core JS Files   -->

</html>

