﻿@model ComonModel.ClsPolicestationMaster


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#hideme").hide();
        GetAllData();
        //$('#tblBlood').DataTable();
        //$('#tblBlood').DataTable({
        //    'paging': true,
        //    'lengthChange': false,
        //    'searching': false,
        //    'ordering': true,
        //    'info': true,
        //    'autoWidth': false
        //})
        //var $validator = $('.form-control').validate({
        //    rules: {
        //        txtDescription: {
        //            required: true
        //        },
        //    }
        //});
        $("#createBtn").click(function () {
            if ($("#createBtn").html() == "Save") {
                var policestation = new Object();
                policestation.PolicestationId = $("#txtPolicestationId").val();
                policestation.Description = $('#txtDescription').val();
                policestation.AddedTime = $('#txtPolicestationAdd').val();
                policestation.EditedTime = $('#txtPolicestationEdit').val();
                //country.Nationality = $('#txtNationality option:selected').text();
                //alert(country.Nationality);
               // policestation.active = $('#Active').is(':checked');

                if ($('#Active').is(':checked') == true) {
                    policestation.Active = 1;
                }
                else {
                    policestation.Active = 0;
                }
                //alert(country.Active);
                var currentdate = new Date();
                var valid1 = false;
                if (policestation.Description == "") {
                    $('#txtDescription').css('border', '1px solid red');
                    $("#hideme").show();
                }
                else {
                    $('#txtDescription').css('border', '1px solid green');
                    $("#hideme").hide();
                    valid1 = true;
                }
                policestation.Ts = currentdate.getDate() + "/" + (currentdate.getMonth() + 1) + "/" + currentdate.getFullYear() + " " + currentdate.getHours() + ":" + currentdate.getMinutes() + ":" + currentdate.getSeconds() + "." + currentdate.getMilliseconds();
                //alert(country.Ts);
                //bank.Ts = $('#txtBankTs').val();
                //country.active = $('#Active').is(':checked');
                if (valid1 == true)
                {
                    $.post('http://localhost:3186/API/ParameterApi/UpdatePolicestation', policestation).success(function (data) {
                        //alert("post successful");
                        GetAllData();
                        $("#createBtn").html("<i class=\"fa fa-plus\"></i>Add New");
                        $("#txtDescription").val('');
                        $("#Active").prop("checked", false);
                    });
                }
                
            }
            else {
                var policestation = new Object();
                policestation.Description = $('#txtDescription').val();
                // policestation.active = $('#Active').is(':checked');

                if ($('#Active').is(':checked') == true) {
                    policestation.Active = 1;
                }
                else {
                    policestation.Active = 0;
                }
                //var $valid = $('.form-control').valid();
                //alert($valid);
                ////var $valid = true;
                //if (!$valid) {
                //    $validator.focusInvalid();
                //    return false;
                //}
                //country.Nationality = $('#txtNationality option:selected').text();
                var valid1 = false;
                if (policestation.Description == "") {
                    $('#txtDescription').css('border', '1px solid red');
                    $("#hideme").show();
                }
                else {
                    $('#txtDescription').css('border', '1px solid green');
                    $("#hideme").hide();
                    valid1 = true;
                }
                //alert(country.Active);
                if (valid1 == true) {
                    $.post('http://localhost:3186/API/ParameterApi/CreatePolicestation', policestation).success(function (data) {
                        $("#txtDescription").val('');
                        $("#Active").prop("checked", false);
                        GetAllData();
                    });
                }
            }





        });
        $("tbody").on('click', 'a#editBtn', function () {
            //alert("success");
            //var r = $('<input type="button" class="save" id="save" value="save"/>');
            //$("body").append(r);
            //$("#createBtn").css("visibility", "hidden");
            //$("#saveBtn").css("visibility", "visible");
            //$("#createBtn").removeClass('btn btn-info add-new center-block').addClass('btn btn-info center-block');
            //$("#createBtn").attr('createBtn', 'saveBtn');
            //$("#saveBtn").val('save');

            var $id = $(this).closest("tr").find(".id").text();
            var $name = $(this).closest("tr").find(".name").text();
            var $active = $(this).closest("tr").find(".active").text();
            var $add = $(this).closest("tr").find(".add").text();
            var $edit = $(this).closest("tr").find(".edit").text();
            //$("#txtNationality option:contains(" + $nationality + ")").attr("selected", true);
            //alert($active);
            $("#txtDescription").val($name);
            $("#txtPolicestationId").val($id);
            $("#txtPolicestationAdd").val($add);
            $("#txtPolicestationEdit").val($edit);
            $("#createBtn").html('Save');


            if ($active == "true") {
                //alert(1);
                $("#Active").prop("checked", true)
            }
            else {
                //alert(2);
                $("#Active").prop("checked", false)
            }



        });


        $("tbody").on('click', 'a.deleteBtn', function () {
            if (confirm("Are you sure?")) {
                var id = $(this).closest("tr").find(".id").text();
                $.ajax({
                    url: 'http://localhost:3186/api/ParameterApi/DeletePolicestation/' + id,
                    dataType: "json",
                    method: 'delete',
                    ContentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        GetAllData();
                    },
                    error: function (err) {
                        alert(err.error);
                    }
                });
            }
            else {
                GetAllData();
            }

        });

        function GetAllData() {
            $.ajax({
                url: 'http://localhost:3186/API/ParameterApi/GetAllPolicestation',
                dataType: "json",
                method: 'GET',
                success: function (data) {
                    var policestationTable = $('#tblBlood tbody');
                    policestationTable.empty();
                    $(data).each(function (index, item) {
                        //alert(1);
                        var ti;
                        if (item.EditedTime == null)
                        {
                            ti = 'Not edited yet';
                        }
                        else
                        {
                            ti = item.EditedTime;
                        }
                        policestationTable.append("<tr><td class='id'>" + item.PolicestationId + "</td>"
                            + "<td class='name'>" + item.Description + "</td>"
                            + "<td class='add'>" + item.AddedTime + "</td>"
                            + "<td class='edit'>" + ti + "</td>"
                            + "<td class='active'>" + item.Active + "</td>"
                            + "<td><a class='editBtn' id='editBtn' title='Edit' data-toggle='tooltip'><i class='fa fa-edit'></i></a>"
                            + "<a class='deleteBtn' id='deleteBtn' title='Delete' data-toggle='tooltip'><i class='fa fa-remove'></i></a></td>"
                            + "</tr>");

                    });
                    $('#tblBlood').DataTable();
                    // alert(countryTable.toString());
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        }

    });


</script>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Police Station Master</h3>
    </div>
    <div class="box-body">
        <br />
        <div class="row" style="text-align:center">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-3 text-right">
                    <div class="col-sm-10 col-sm-offset-2 pull-right">
                        <div class="form-group" style="text-align:right">
                            <br />
                            <label class="text-right" style="text-align:right" for="txtDescription"> Description <span style="color:red">*</span> :</label>

                        </div>
                        <br />

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group text-left">
                        <input type="text" class="form-control" style="text-align:left" required id="txtDescription" name="txtDescription" maxlength="20" placeholder="">
                    </div>
                    <div class="form-group text-left">
                        <span style="color:red" id="hideme" name="hideme">Please fill in the required details(*) </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <div class="form-group">
                    <label for="Active" class="checkbox-inline center-block">
                        <input class="center-block" type="checkbox" id="Active" name="Active" checked="checked"> Active?
                    </label>
                </div>
                <div class="box-header">
                    <span class="center-block"><button type="button" class="btn btn-info add-new" id="createBtn"><i class="fa fa-plus"></i>Add New</button></span>
                </div>
                <input type="hidden" id="txtPolicestationId" name="idBox" />
                <input type="hidden" id="txtPolicestationAdd" name="addedBox" />
                <input type="hidden" id="txtPolicestationEdit" name="editedBox" />
            </div>
        </div>

        <table id="tblBlood" class="table table-striped table-bordered table-hover">
            <thead style="background-color:#3c8dbc; color:white">
                <tr>
                    <th>Police Station Id </th>
                    <th>Description</th>
                    <th>Added Time</th>
                    <th>Edited Time</th>
                    <th>Active</th>
                    <th>Actions </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

