﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/g.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <title>Paper Bootstrap Wizard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS Files -->
    @*<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/paper-bootstrap-wizard.css" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="assets/css/demo.css" rel="stylesheet" />
        <!-- Fonts and Icons -->

        <link href="assets/css/themify-icons.css" rel="stylesheet">*@

    @Styles.Render("/assets/css/bootstrap.min.css")
    @Styles.Render("/assets/css/paper-bootstrap-wizard.css")
    @Styles.Render("/assets/css/demo.css")
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("/assets/css/themify-icons.css")


    @Scripts.Render("/assets/js/jquery-2.2.4.min.js")
    @Scripts.Render("/assets/js/bootstrap.min.js")
    @Scripts.Render("/assets/js/jquery.bootstrap.wizard.js")
    @Scripts.Render("/assets/js/paper-bootstrap-wizard.js")
    @Scripts.Render("/assets/js/jquery.validate.min.js")
</head>
<body>
    @*<div class="image-container set-full-height" style="background-image: url('/assets/img/paper-2.jpeg')">*@
    <div class="image-container set-full-height" style="background-color:rgb(122, 155, 127)">
        <!--   Creative Tim Branding   -->
        <a href="http://creative-tim.com">
            <div class="logo-container">
                <div class="logo">
                    <img src="/assets/img/new_logo.png">
                </div>
                <div class="brand">
                    Profile Creation
                </div>
            </div>
        </a>

        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizard">
                            <form action="" method="">
                                <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->
                                <div class="wizard-header">
                                    <h3 class="wizard-title">Create your profile</h3>
                                </div>
                                <div class="wizard-navigation">
                                    <div class="progress-with-circle">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#BasicInfo" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-map"></i>
                                                </div>
                                                Basic Info
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Education" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-direction-alt"></i>
                                                </div>
                                                Education
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#facilities" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-panel"></i>
                                                </div>
                                                Training
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Certification
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Employment
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Project Experience
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Photo & Others
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#description" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Preview
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="BasicInfo">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5 class="info-text"> Let's start with the basic details</h5>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Where is your place located?">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Country</label><br>
                                                    <select name="country" required class="form-control">
                                                        <option selected value="">-- Select Country --</option>
                                                        <option value="Afghanistan"> Afghanistan </option>
                                                        <option value="Albania"> Albania </option>
                                                        <option value="Algeria"> Algeria </option>
                                                        <option value="American Samoa"> American Samoa </option>
                                                        <option value="Andorra"> Andorra </option>
                                                        <option value="Angola"> Angola </option>
                                                        <option value="Anguilla"> Anguilla </option>
                                                        <option value="Antarctica"> Antarctica </option>
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Accommodates</label>
                                                    <select class="form-control">
                                                        <option disabled="" selected="">- persons -</option>
                                                        <option>1 Person</option>
                                                        <option>2 Persons </option>
                                                        <option>3 Persons</option>
                                                        <option>4 Persons</option>
                                                        <option>5 Persons</option>
                                                        <option>6+ Persons</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Rent price</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Rent price per day">
                                                        <span class="input-group-addon">$</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>First Name <small>(required)</small></label>
                                                    <input name="firstname" type="text" class="form-control" placeholder="Andrew...">
                                                </div>
                                            </div>

                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Email <small>(required)</small></label>
                                                    <input name="email" type="email" class="form-control" placeholder="andrew@creative-tim.com">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Last Name <small>(required)</small></label>
                                                    <input name="lastname" type="text" class="form-control" placeholder="Smith...">
                                                </div>
                                            </div>

                                            <div style="overflow-x:auto;">
                                                <fieldset style="border: 1px solid #18A689;margin: 8px;padding: 8px;border-radius: 4px;overflow-x:auto">
                                                    <legend style="color:#18A689;padding: 2px;font-size:18px; font-weight:600">Non Assigned Data</legend>

                                                    <table id="tbl2" class="table table-responsive table-bordered table-condensed table-hover table-striped" style="width:100%">
                                                        <thead class="table-responsive">
                                                            <tr>
                                                                <th style="background-color:#ABB2B9; color:#050505">SELECT</th>
                                                                <th style="background-color:#ABB2B9;color:#050505">PAGE NAME</th>
                                                                <th style="background-color:#ABB2B9;color:#050505">VIEW</th>
                                                                <th style="background-color:#ABB2B9;color:#050505">CREATE</th>
                                                                <th style="background-color:#ABB2B9;color:#050505">UPDATE</th>
                                                                <th style="background-color:#ABB2B9;color:#050505">DELETE</th>
                                                                <th style="background-color:#ABB2B9;color:#050505">PAGE ID</th>
                                                                <th style="background-color:#ABB2B9;color:#050505">AUTHORIZE</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style=""></tbody>
                                                    </table> <br />
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Education">

                                    </div>
                                    <div class="tab-pane" id="facilities">

                                    </div>
                                    <div class="tab-pane" id="description">

                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div> <!-- row -->
        </div> <!--  big container -->
        <div class="footer">
            <div class="container text-center">
                Copyright by dataedge  <i class="fa fa-heart heart"></i>  <a href="http://www.data-edge.com"</a>
            </div>
        </div>
    </div>
</body>
<!--   Core JS Files   -->

</html>

