﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div style="overflow-x:auto;">
    <fieldset style="border: 1px solid #18A689;margin: 8px;padding: 8px;border-radius: 4px;overflow-x:auto">
        <legend style="color:#18A689;padding: 2px;font-size:18px; font-weight:600">Non Assigned Data</legend>

        <table id="tbl2" class="table table-responsive table-bordered table-condensed table-hover table-striped" style="width:100%">
            <thead class="table-responsive">
                <tr>
                    <th style="background-color:#ABB2B9; color:#050505">SELECT</th>
                    <th style="background-color:#ABB2B9;color:#050505">PAGE NAME</th>
                    <th style="background-color:#ABB2B9;color:#050505">VIEW</th>
                    <th style="background-color:#ABB2B9;color:#050505">CREATE</th>
                    <th style="background-color:#ABB2B9;color:#050505">UPDATE</th>
                    <th style="background-color:#ABB2B9;color:#050505">DELETE</th>
                    <th style="background-color:#ABB2B9;color:#050505">PAGE ID</th>
                    <th style="background-color:#ABB2B9;color:#050505">AUTHORIZE</th>
                </tr>
            </thead>
            <tbody style=""></tbody>
        </table> <br />
    </fieldset>
</div>