﻿@model IEnumerable<ComonModel.ClsProducts>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@*<div class="row">
    <div>

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>*@


<script type="text/javascript">
    $(document).ready(function () {

     

        $('[data-toggle="tooltip"]').tooltip();
        var actions = $("#TestTable td:last-child").html();
        // Append table with add row form on add new button click
        $("#addnewT").click(function () {
            $.ajax({
                url: 'http://localhost:3186/API/ParameterApi/GetAllDropdownData',
                dataType: "json",
                method: 'GET',

                success: function (data) {
                    $('#ddlOccupationForChild').html('');
                    // $('#ddlOccupationForSiblings').append('<option value="">--Select--</option>');
                    $(data.OccupationList).each(function (index, emp) {
                        $('#ddlOccupationForChild').append('<option value="' + emp.OccupationId + '">' + emp.OccupationName + '</option>');
                    });
                }
            })
            $(this).attr("disabled", "disabled");
            var index = $("#TestTable tbody tr:last-child").index();
            var row = '<tr>' +
                '<td><input type="text" class="form-control" name="txtShiblingId" id="txtShiblingId"></td>' +
                '<td><input type="text" class="form-control" name="txtFullName" id="txtFullName"></td>' +
                '<td><input type="date" class="form-control" name="txtDateOfBirthForSiblings" id="txtDateOfBirthForSiblings"></td>' +
                '<td><input type="text" class="form-control" name="txtMobileNo" id="txtMobileNo"></td>' +
                 '<td><select id="ddlBrotherOrSister" name="ddlBrotherOrSister"  class="form-control">'+
                     '<option value="1">Sisters</option>'+
                     '<option value="2">Brothers</option>'+
                 '</select></td>' +
               '<td><select id="ddlOccupationForChild" name="ddlOccupationForChild"  class="form-control"></select></td>'+
                '<td>'+
                  '<a id="addT"  class="add" title="Add" data-toggle="tooltip"><i class="fa fa-plus-circle"></i></a>'+
                  '<a id="editT" class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-edit"></i></a>'+
                  '<a id="deleteT" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-remove"></i></a>'+
               ' </td></tr>';
            
            $("#TestTable").append(row);
            $("#TestTable tbody tr").eq(index + 1).find("#addT, #editT").toggle();
            $('[data-toggle="tooltip"]').tooltip();
        });
        // Add row on add button click
        $(document).on("click", "#addT", function () {
            var empty = false;
            var input = $(this).parents("tr").find('input[type="text"]');
            input.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("error");
                    empty = true;
                } else {
                    $(this).removeClass("error");
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            if (!empty) {
                input.each(function () {
                    $(this).parent("td").html($(this).val());///
                });
                $(this).parents("tr").find("#addT, #editT").toggle();
                $("#addnewT").removeAttr("disabled");
            }
        });
        // Edit row on edit button click
        $(document).on("click", "#editT", function () {


            $(this).parents("tr").find("td:nth-child(1)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find("td:nth-child(2)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find("td:nth-child(3)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $('#txtDateOfBirthForSiblings').val() + '">');
            });
            $(this).parents("tr").find("td:nth-child(4)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find("td:nth-child(5)").each(function () {
                // alert($(this).header);
                var brotherSister = $(this).closest("tr").find("#ddlBrotherOrSister ").text();
                $(this).html('<input type="text" class="form-control" value="' + brotherSister + '">');
                
            });
            $(this).parents("tr").find("td:nth-child(6)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
          
            $(this).parents("tr").find("#addT, #editT").toggle();
            $("#addnewT").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        $(document).on("click", "#deleteT", function () {
            $(this).parents("tr").remove();
            $("#addnewT").removeAttr("disabled");
        });
    });
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">Test Table  </h4>
                <span style="float:right"><button type="button" class="btn btn-info add-new" id="addnewT"><i class="fa fa-plus"></i>Add New</button></span>
              
            </div>
           
            <div class="box-body">
                <table id="TestTable" class="table table-bordered">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Full Name</th>
                            <th>Birth Date</th>
                            <th>Mobile</th>
                            <th>Brother/Sister</th>
                            <th>Occupation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>                                                                  
                    </tbody>                  
                  
                </table>               
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript">
        $(document).ready(function () {
            //$('#TestTable').DataTable();
            $('#TestTable').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : true,
            })
        })
    </script>*@
<script type="text/javascript">
    $(document).ready(function () {
       
   


        $('[data-toggle="tooltip"]').tooltip();
        var actions = $("#ShiblingTable td:last-child").html();
        // Append table with add row form on add new button click
        $("#AddShiblings").click(function () {
            $(this).attr("disabled", "disabled");
            var index = $("ShiblingTable > tbody tr:last-child").index();
            var row = '<tr>' +
                '<td><input type="text" class="form-control" name="name" id="name"></td>' +
                '<td><input type="text" class="form-control" name="department" id="department"></td>' +
                '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +
                '<td><select class="form-control"><option value="" selected="">--select--</option>' +
                 '<option value="1">Sausage</option> ' +
                  '<option value="2">Sausage</option> ' +
                  '<option value="3">Grits</option> ' +
                  '<option value="4">Eggs</option> ' +
                '</select></td>' +
                '<td><input type="text" class="form-control" name="Test" id="Test"></td>' +
                '<td>' + actions + '</td>' +
            '</tr>';
            $("#ShiblingTable").append(row);
            $("ShiblingTable tbody tr").eq(index + 1).find("#addS, #editS").toggle();
            $('[data-toggle="tooltip"]').tooltip();
        });
        // Add row on add button click
        $(document).on("click", "#addS", function () {
            var empty = false;
            var input = $(this).parents("tr").find('input[type="text"]');
            input.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("error");
                    empty = true;
                } else {
                    $(this).removeClass("error");
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            if (!empty) {
                input.each(function () {
                    $(this).parent("td").html($(this).val());///
                });
                $(this).parents("tr").find("#addS, #editS").toggle();
                $("#AddShiblings").removeAttr("disabled");
            }
        });
        // Edit row on edit button click
        $(document).on("click", "#editS", function () {


            $(this).parents("tr").find("td:nth-child(1)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find("td:nth-child(2)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find("td:nth-child(3)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find("td:nth-child(4)").each(function () {
                //alert($(this).text());
                //alert($(this).val());
               //$(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
               // $(this).html('<input type="text" class="form-control" value="' + $(this).val() + '">');
               // $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                // alert($(this).header);
                $(this).html('<select class="form-control"><option value="" selected="">--select--</option>' +
                    '<option value="1">Sausage</option> ' +
                    '<option value="2">Sausage</option> ' +
                    '<option value="3">Grits</option> ' +
                    '<option value="4">Eggs</option> ' +
                    '</select>');

                //$(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find("td:nth-child(5)").each(function () {
                // alert($(this).header);
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });


            $(this).parents("tr").find("#addS, #editS").toggle();
            $("#AddShiblings").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        $(document).on("click", "#deleteS", function () {
            $(this).parents("tr").remove();
            $("#AddShiblings").removeAttr("disabled");
        });
    });
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">Shibling Table  </h4>
                <span style="float:right"><button type="button" class="btn btn-info add-new" id="AddShiblings"><i class="fa fa-plus"></i>Add New</button></span>

            </div>

            <div class="box-body">
                <table id="ShiblingTable" class="table table-bordered">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Phone</th>
                            <th>Country</th>
                            <th>others</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                      
                        <tr>
                            <td>Fran Wilson</td>
                            <td>Human Resources</td>
                            <td>(503) 555-9931</td>
                            <td>
                                <select class="form-control match-content">
                                    <option selected="" value="0">-select-</option>
                                    <option value="1">Sausage</option>
                                    <option value="2">Grits</option>
                                    <option value="3">Eggs</option>
                                </select>
                            </td>
                            <td>Fran Wilson</td>
                            <td>
                                <a class="add" id="addS" title="Add" data-toggle="tooltip"><i class="fa fa-plus-circle"></i></a>
                                <a class="edit" id="editS" title="Edit" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                                <a class="delete" id="deleteS" title="Delete" data-toggle="tooltip"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            //$('#TestTable').DataTable();
            $('#ShiblingTable').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
            })
        })
</script>


