﻿@model MainApplicationUI.Models.AccountModel

@{   
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@Styles.Render("/Custom/LoginStyle.css")
@Styles.Render("/Custom/style.css")

@*<script type="text/javascript">
        $(document).ready(function () {
            $("btn-login").click(function () {
                var model = {};
                model.UserName = $("loginId").val;
                model.Password = $("password").val;
                alert("1");
                $.ajax({
                    type: "POST",
                    url: "/Account/Login)",
                    data: '{model: '+  JSON.stringify(model) +'}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert('Login Success');
                    },
                    error: function ()
                    {
                        alert("Error");
                    }

                });
            });
        });

    </script>*@

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div style="margin-top:60px"></div>
    <div class="container">
        <div class="card col-md-offset-3 col-md-6">
            <h1 class="title">Login</h1>
            <div class="row col-md-12">               
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="pad15">
                        <br>                     
                        <div class="md-input">
                            <input class="md-form-control" name="loginId" id="loginId" required="" type="text">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>User Name</label>
                        </div>
                        <div class="md-input">
                            <input class="md-form-control" name="password" id="password" required="" type="password">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Password</label>
                        </div>
                        <input type="submit" style="background-color:#1FA67B; color:white; font-weight:bold" id="btn-login" class="btn btn-custom btn-google-plus btn-block" value="Login">
                    </div>
                    <br>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
}
    @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
