﻿@{
    //Layout = null;
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("/Custom/LoginStyle.css")
    @Styles.Render("/Custom/style.css")

   

    <script type="text/javascript">
    $(document).ready(function () {
        $("btn-login").click(function () {
            var model = {};
            model.UserName = $("loginId").val;
            model.Password = $("password").val;

            $.ajax({
                type: "POST",
                url: "/Account/Login)",
                data: '{model: '+  JSON.stringify(model) +'}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert('Login Success');
                },
                error: function ()
                {
                    alert("Error");
                }

            });
        });
    });

    </script>

</head>
<body>
    <div style="margin-top:60px"></div>
    <div class="container">
        <div class="card col-md-offset-3 col-md-6">
            <h1 class="title">Login</h1>
            <div class="row col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="pad15">
                        <br>
                        <div class="md-input">
                            <input class="md-form-control" name="loginId" id="loginId" required="" type="text">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>User Name</label>
                        </div>
                        <div class="md-input">
                            <input class="md-form-control" name="password" id="password" required="" type="password">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Password</label>
                        </div>
                        <input type="submit" style="background-color:#1FA67B; color:white; font-weight:bold" id="btn-login" class="btn btn-custom btn-google-plus btn-block" value="Login">
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</body>
</html>
