﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/g.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <title>Paper Bootstrap Wizard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS Files -->
    @*<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/paper-bootstrap-wizard.css" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="assets/css/demo.css" rel="stylesheet" />
        <!-- Fonts and Icons -->

        <link href="assets/css/themify-icons.css" rel="stylesheet">*@

    @Styles.Render("/assets/css/bootstrap.min.css")
    @Styles.Render("/assets/css/paper-bootstrap-wizard.css")
    @Styles.Render("/assets/css/demo.css")
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("/assets/css/themify-icons.css")


    @Scripts.Render("/assets/js/jquery-2.2.4.min.js")
    @Scripts.Render("/assets/js/bootstrap.min.js")
    @Scripts.Render("/assets/js/jquery.bootstrap.wizard.js")
    @Scripts.Render("/assets/js/paper-bootstrap-wizard.js")
    @Scripts.Render("/assets/js/jquery.validate.min.js")
</head>
<body>
    <div class="image-container set-full-height" style="background-image: url('/assets/img/paper-2.jpeg')">
        <!--   Creative Tim Branding   -->
        <a href="http://creative-tim.com">
            <div class="logo-container">
                <div class="logo">
                    <img src="/assets/img/new_logo.png">
                </div>
                <div class="brand">
                    Profile Creation
                </div>
            </div>
        </a>

        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizard">
                            <form action="" method="">
                                <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->
                                <div class="wizard-header">
                                    <h3 class="wizard-title">Create your profile</h3>
                                </div>
                                <div class="wizard-navigation">
                                    <div class="progress-with-circle">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="7" style="width: 15%;"></div>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#PersonalInfo" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-map"></i>
                                                </div>
                                                Personal Information
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Education" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-direction-alt"></i>
                                                </div>
                                                Education
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Training" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-panel"></i>
                                                </div>
                                                Training
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Certification" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Certification
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Employment" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Employment
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#ProjectExperience" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Project Experience
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#PhotoAndOthers" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Photo & Others
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Preview" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-comments"></i>
                                                </div>
                                                Preview
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="BasicInfo">

                                    </div>
                                    <div class="tab-pane" id="Education">

                                    </div>
                                    <div class="tab-pane" id="Training">
                                        
                                    </div>

                                    <div class="tab-pane" id="Certification">

                                    </div>

                                    <div class="tab-pane" id="Employment">

                                    </div>

                                    <div class="tab-pane" id="ProjectExperience">
                                        <br />
                                        <br />
                                        <div class="row">
                                            
                                            <div class="col-sm-5 col-sm-offset-1">

                                                <div class="form-group">
                                                    <label for="projectname">Project Name<small>(required)</small></label>
                                                    <input type="text" class="form-control" id="projectname" placeholder="Write project name here">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="startdate">Start Date<small>(required)</small></label><br>
                                                    <input type="date" class="form-control" id="startdate" />
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="companyname">Company Name<small>(required)</small></label>
                                                    <input type="text" id="companyname" class="form-control" placeholder="Enter company name here">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="enddate">End Date</label>

                                                    <input type="date" id="enddate" class="form-control" placeholder="dd/mm/yyyy">


                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label for="customername">Institute Name/OEM<small>(required)</small></label>
                                                    <input id="customername" type="text" class="form-control" placeholder="Enter customer name here">
                                                </div>
                                                <div class="form-group">
                                                   
                                                    <label for="roles">Roles & Responsibility<small>(required)</small></label><br>
                                                   <textarea class="form-control" id="roles" rows="3" placeholder="Enter your roles"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="tech">technology Used<small>(required)</small></label>
                                                    <textarea class="form-control" id="tech" rows="3" placeholder="Enter technologies used here"></textarea>
                                                </div>
                                               
                                            </div>
                                            <div class="clearfix"></div>
                                            
                                            <div class="col-sm-offset-3 col-sm-5 ">
                                                <input type='button' class='btn btn-fill btn-primary btn-wd' name='AddNew' value='Add New' />
                                            </div>
                                            <div class="col-sm-pull-5">
                                                <input type='reset' class='btn btn-fill btn-primary btn-wd' name='Clear' value='Clear' />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Project Name</th>
                                                                <th>Company Name</th>
                                                                <th>Customer name</th>
                                                                <th>Responsibility</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th> </th>
                                                                <th> </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> <a>Edit</a> </td>
                                                                <td> <a>Delete</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                                <td> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Photo & Others">

                                    </div>
                                    <div class="tab-pane" id="Preview">

                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div> <!-- row -->
        </div> <!--  big container -->
        <div class="footer">
            <div class="container text-center">
                Copyright by dataedge  <i class="fa fa-heart heart"></i>  <a href="http://www.data-edge.com"</a>
            </div>
        </div>
    </div>
</body>
<!--   Core JS Files   -->

</html>

